<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country Code</th>
      <th>Capital</th>
      <th>Area in km<sup>2</sup></th>
      <th>Population</th>
      <th>Continent</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="country in countries">
      <td>
        <a href="#/countries/{{ country.countryCode }}/capital">
          {{ country.countryName }}
        </a>
      </td>
      <td>{{ country.countryCode }}</td>
      <td>{{ country.capital }}</td>
      <td>{{ country.areaInSqKm | number }}</td>
      <td>{{ country.population | number }}</td>
      <td>{{ country.continent }}</td>
    </tr>
  </tbody>
</table>
<nav>
  <ul class="links">
    <li class="link"><a href="#/">Home</a></li>
  </ul>
</nav>
