<p>
  Lorem ipsum dolor sit amet, usu ne illud menandri, facete ornatus mentitum sed
  no. Iusto placerat inimicus ea has, eum te euismod maiorum, adhuc detracto ei
  eos. In semper eleifend imperdiet sed. Ea vix audire deterruisset, id apeirian
  voluptaria sea. Duo elitr constituto no. An aperiam fabulas denique eos. Et
  est aeterno maiorum iudicabit, duis utinam putant eum no, pri cu melius
  nominavi. Ne putent legimus pri, vim porro commune referrentur ea. Mea
  conceptam mnesarchum ea, duo decore legere splendide et. Mollis labitur
  maiestatis ea sea, mei dicant accommodare ad, ne mel bonorum iracundia. Id quo
  minim honestatis, id diam esse nobis duo.
</p>
<nav>
  <ul class="links">
    <li class="link"><a href="#/countries/">Browse Countries</a></li>
  </ul>
</nav>
